.main-header
    .main-header__container
        a.main-header__logo
            img(src="assets/i/svg/logo.svg" alt="")
        ul.main-menu#js-main-menu
            li
                a(href="/") Negozi
            li
                a(href="/volantini") Volantini
            li
                a(href="/prodotti") Prodotti
            li
                a(href="/carta-per-te") Carta Per Te
            li
                a(href="/servizi") Servizi
            li
                a(href="/carta-per-te") Lavora con noi

        include ../includes/sandwich.pug