.main-footer-top
    .main-footer-top__container
        .main-footer-top__wrap
            .main-footer-top__menu
                h2.main-footer-top__title Pam Retailpro
                ul
                    li
                        a(href="") Chi siamo
                    li
                        a(href="") Negozi
                    li
                        a(href="") Volantini
                    li
                        a(href="") Prodotti
                    li
                        a(href="") Servizi
                    li
                        a(href="") Ricette
                    li
                        a(href="") News

            .main-footer-top__app
                h2.main-footer-top__title App Perte
                ul
                    li
                        a(href="/") Carta Per Te

            .main-footer-top__contacts
                h2.main-footer-top__title Contattaci
                ul
                    li
                        a(href="/") Lavora con noi
                    li
                        a(href="/") Parla con noi

            .main-footer-top__store
                h2.main-footer-top__title Scarica l'App Perte Plus
                ul
                    li
                        a(href="https://apps.apple.com/it/app/perte-plus/id1348667181")
                            img(src="assets/i/store/app-store.png")
                    li
                        a(href="https://play.google.com/store/apps/details?id=it.pampanorama.perteplus&hl=it")
                            img(src="assets/i/store/google-play.png")
                .main-footer-top__tags
                    span #pamretailpro
                    span #lavitaspesaalmeglio
                .main-footer-top__socials
                    ul
                        li
                            a(href="")
                                img(src="assets/i/svg/facebook.svg" alt="")
                        li
                            a(href="")
                                img(src="assets/i/svg/instagram.svg" alt="")
                        li
                            a(href="")
                                img(src="assets/i/svg/linkedin.svg" alt="")

        .main-footer-top__links
            ul
                li
                    a(href="#") Privacy Policy
                li
                    a(href="#") Cookie Policy
                li
                    a(href="#") Regolamenti
