.main-footer-bottom {
  display: block;
  padding: 4rem 0;
  font-size: 1.4rem;
  text-align: center;
  color: #333;
  background-color: #fff;
  &__copyright {
    margin-bottom: 1rem;
  }
  a {
    color: #9d9d9d;
  }
  p {
    margin-bottom: 1rem;
  }
}