.home-slider#home-slider
    .home-slider__wrap
        .home-slider__item
            img(src="assets/i/home-slider/home-slider-1.jpg" alt="")
        .home-slider__item
            img(src="assets/i/home-slider/home-slider-2.jpg" alt="")
        .home-slider__item
            img(src="assets/i/home-slider/home-slider-3.jpg" alt="")
